<form [formGroup]="registracijaForm" submit="registracija()">
  <fieldset class="clearfix">

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color: hotpink"></i></span>
      <input id="ime" type="text" class="form-control" name="ime" placeholder="Ime">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color: hotpink"></i></span>
      <input id="prezime" type="text" class="form-control" name="prezime" placeholder="Prezime">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" style="color: hotpink"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="E-mail">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color: hotpink"></i></span>
      <input id="lozinka" type="text" class="form-control" name="lozinka" placeholder="Lozinka">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color: hotpink"></i></span>
      <input id="potvrdaLozinke" type="text" class="form-control" name="potvrdaLozinke" placeholder="PotvrdaLozinke">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-home" style="color: hotpink"></i></span>
      <input id="adresa" type="text" class="form-control" name="adresa" placeholder="Adresa">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="	glyphicon glyphicon-calendar" style="color: hotpink"></i></span>
      <input id="datum" type="date" class="form-control" name="datum" placeholder="Datum">
    </div>

    <div>
      <span style="width:50%; text-align:left;  display: inline-block;" class="fas fa-user-plus" style="color: hotpink"><input type="submit" value="Register"></span>
  </div>

  </fieldset>

</form>