<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="float col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="account-holder">
      <h3>REGISTER</h3>
      <br>
      
      <div class="row" id="formContent">
          <form [formGroup] = "registacijaForm" (ngSubmit)="edit()">
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <label class="control-label required" for="name">First Name<sup style="color:rgb(219, 73, 109)">*</sup></label>
                      <input id="firstName" value="[firstName]" name="firstName" formControlName="firstName" type="text" class="form-control" placeholder="Enter Your First Name" required>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label required" for="name">Last Name<sup style="color:rgb(219, 73, 109)">*</sup></label>
                    <input id="lastName" name="lastName" value="[lastName]" formControlName="lastName" type="text" class="form-control" placeholder="Enter Your Last Name">
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="form-group">
                  <label class="control-label required" for="name">Username<sup style="color:rgb(219, 73, 109)">*</sup></label>
                  <input id="username" [readonly]="true" name="username" formControlName="username" type="text" class="form-control" placeholder="Enter Your Username">
              </div>
          </div>
              
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <label class="control-label required" for="email">Email<sup style="color:rgb(219, 73, 109)">*</sup></label>
                      <input id="email" name="email" value="[email]" formControlName="email" type="text" class="form-control" placeholder="Enter Email Address">
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <label class="control-label required" value="[password]" for="password">Password<sup style="color:rgb(219, 73, 109)">*</sup></label>
                      <input id="password" name="password" formControlName="password" type="password" class="form-control" placeholder="password">
                  </div>
                  <div class="mb30">
                      <p>Already have an account?   <a routerLink="/login">Login</a></p>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label required" for="password">Confirm Password<sup style="color:rgb(219, 73, 109)">*</sup></label>
                    <input id="confirmPassword" value="[confirmPassword]" formControlName="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="form-group">
                  <label class="control-label required" for="date">Date<sup style="color:rgb(219, 73, 109)">*</sup></label>
                  <input id="date" name="date" type="date" formControlName="date" class="form-control" placeholder="Date">
              </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label required" for="date">Type of user:</label>
                <select [(ngModel)]="tip" formControlName="tip" value="[tip]" >
                  <option *ngFor="let k of korisnici" >
                    {{k}}
                  </option>
                </select>    
              </div>
        </div>

              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <button type="submit" class="btn btn-primary btn-block">Izmeni</button>
              </div>
          </form>
      </div>
  </div>
  
</div>