<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" routerLink="/">JGSP</a>
  <div class="navbar-expand mr-auto">
    <div class="nav navbar-nav navbar-right">
      
      <a class="nav-item nav-link" routerLink="/linije">Linije</a>
      <a class="nav-item nav-link" routerLink="/redvoznje">Red voznje</a>
      <a class="nav-item nav-link" routerLink="/cenovnik">Cenovnik</a>
      <a class="nav-item nav-link" routerLink="/karta">Kupi kartu</a>
      <a class="nav-item nav-link" routerLink="/registracija">Registruj se</a>
      <a class="nav-item nav-link" routerLink="/login">Prijavi se</a>
    </div>
  </div> 
 </nav>