<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

              <nav class="navbar navbar-expand-lg">

                <ul class="navbar-nav">
                  <li class="active">
                      <a href="#" class="nav-link"routerLink="/linije">Linije </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link"routerLink="/redvoznje">Red voznje</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link"routerLink="/cjenovnik">Cenovnik</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link"routerLink="/karta">Kupi kartu</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik == 'neregistrovan')" routerLink="/registracija">Registruj se</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik == 'neregistrovan')" routerLink="/login">Prijavi se</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik != 'neregistrovan')" routerLink="/profile">Profil</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik != 'neregistrovan')" routerLink="/odjava">Odjava</a>
                    </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik == 'Admin')" routerLink="/editLine">Izmena linije</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" ngDefaultControl [(ngModel)]="korisnik" *ngIf = "(korisnik == 'Controller')" routerLink="/check">Proveri kartu</a>
                  </li>
                </ul>
             </nav>