<form [formGroup] = "loginForm"(submit)="login()">

    <form>
        <div class="input-group">
          <input id="korsnickoIme" type="text" class="form-control" name="korsnickoIme" placeholder="Korisnicko ime">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>   
        </div>
        <div class="input-group">
          <input id="lozinka" type="password" class="form-control" name="lozinka" placeholder="Lozinka">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        </div>
        <div class="input-group">
            <span style="width:50%; text-align:left;  display: inline-block;"><input type="submit" value="Prijava"></span>
          </div>
      </form>


<a routerLink="/register">Registruj se ovde</a>