<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

       <!--forms-->
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!--
<p>
    <select [(ngModel)]="tip" >
        <option *ngFor="let t of tipovi">
          {{t}} 
        </option>
    </select>

    <button (click)="CenaKarte()" >Prikazi cenu ove karte! </button>
    <br>
    {{cena1}}
    <button (click)="KupiKartu()">Kupi kartu! </button>
    {{vaziDo1}}
</p>
-->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="account-holder">
        <h3>KUPI KARTU</h3>
      <br>
      
      <div class="row">
          <form>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" >Tip karte(za registrovane) </label>
                    <select class="control-label" [(ngModel)]="tip" *ngIf = "(korisnik == 'registrovan')" >
                            <option *ngFor="let t of tipovi">
                              {{t}} 
                            </option>
                        </select> 
                      
                      
                  </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label class="control-label" >Tip karte(za neregistrovane) </label>
                      <select class="control-label" [(ngModel)]="tip" *ngIf = "(korisnik == 'neregistrovan')" >
                            <option>
                              Vremenska
                            </option>
                        </select> 
                        
                    </div>
                </div>

              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                  
                            <button (click)="CenaKarte()" class="btn btn-primary btn-block">Prikazi cenu ove karte</button>
                     
                    </div>
                 </div>

              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="form-group">
                    
                    <label class="control-label" >Cena: {{cijena1}}</label>
                    
                </div>
            </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                      
                      <button (click)="KupiKartu()" class="btn btn-primary btn-block">Kupi kartu</button>
                      
                      
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="form-group">
                    
                    <label  class="control-label">Karta vazi do: {{vaziDo1}}</label>
                    
                </div>
            </div>
              
          </form>
      </div>
  </div>
</div>
